ul {
    overflow: auto;
}
 
ul li {
    list-style-type: none;
    float: left;
}
 
ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 5%;
    transition: all 0.2s ease-in-out;
}
.fa-facebook {
    background:#3b5998
} 
.fa-linkedin {
    background:#007bb6
}
.fa-twitter {
    background:#00aced
}
.fa-envelope {
    background:#454950
}
ul li a i:hover {
    opacity: .7;
}

body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url(static/images/bgpic.jpg);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
